/*<!-- 2006 WebPAC Pro Version, set from 26 March, 2007 -->*/
/*<!-- This file last changed: 17 August, 2006 -->*/
/* *******************************************************************

The new example set has a separate Internet Explorer (IE) css file. You must make similar changes to your IE style sheet in
order for the same display across browsers. The IE style sheet is ie_styles.css 

********************************************************************** */
/* general appearance */
/* See also Web Option BODYPARAM */

/* Stylesheet to use for dynamic Web pages */
/* is set by Web Option STYLESHEET */

/* COLOR SCHEME (use find & replace to swap colors */
/* border and tab light blue : d7e3ff */
/* manilla background color: FFF8EF */
/* medium blue: 0132A7 */
/* dark blue: 00437f */
/* very dark blue: 162A6D */
/* light orange : F5D9A3 */
/* light blue used in table striping : eff7ff */
/* light yellow used in table highlighting : FFFFDF */

/* Section 1 */
/*Global tag styles*/
body { font-size:85%; margin: 0; padding: 0; background-color: white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style : normal; font-weight : normal; }

/*div, table { clear: both; }*/

/* This rule causes search form elements to resize along with the rest of the text on the page if the user resizes text. */
input, select, textarea { font-size: 95%;}

/* This rule uses CSS2 to give a nicer effect in compliant browsers, while avoiding an annoying display effect in Internet Explorer 6 */
input[type="checkbox"] { background-color: #FFF8EF; }

strong { font-weight: bold; }

td { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style : normal; font-weight : normal; }

th { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; }

/*traditional link colors are suggested for better usability */
a:link { color: #000099; text-decoration:none;}
a:active{ color: #993399; text-decoration:none;}
a:visited { color: #993399; text-decoration:none; } 
a:hover  { color: #000099; text-decoration:underline; } 

A.pageNavAreaText:LINK, A.pageNavAreaText:VISITED {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #00437f;  }

A.pageNavAreaText:ACTIVE, A.pageNavAreaText:HOVER {  color: #FFF8EF; text-decoration: none; font-weight: bold; background-color: #00437f;  }




/* Section 2 */
/* named styles listed in alphabetical order */

.additionalCopies {padding:0 15px 0 15px;}

.additionalCopies th.bibItemsHeader { color: #000; font-size:90%; font-weight: bold; text-align: center; background:#bcd4ec; border:0px; }

.additionalCopiesNav {}

/*controls display of authority redirect information */
.authorityRedirect { border: 2px solid #0132A7; padding:5px; text-align:center; }

.authPublicNote { font-size: 80%; background: #F7F4F4; } 


/* This is used in the Materials Booking calendar */
.available { font-weight: bold; color: green; }

.availLimMessage { font-style: italic; text-align: left; }


/* classes for bib display */
/* see also Web options TABLEPARAM_BIB... */

.bibBookingsHeader { font-weight: bold; text-decoration: none; padding: 3px; border: 1px solid #00437f; background: #FFFBC6; margin-bottom:8px;}

.bibDetail { }

.bibHoldings {border: 0px; }

.bibHoldingsEntry { font-size:90%; border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;border-right:1px solid #EEEEEE;}

.bibHoldingsHeader { }

.bibHoldingsLabel { font-size:90%; border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;border-left:1px solid #EEEEEE;}

.bibHolds { font-size:90%; border: 1px solid #00437f; }

.bibHoldsEntry { font-size:90%; border: 1px solid #00437f; }

.bibInfo { }

.bibInfoData {font-size:75%; }

.bibInfoEntry { }

.bibInfoLabel { width: 15%; font-size:75%; text-align: left; padding-right: 1em; font-weight: bold;  background:#fff;}

.bibItems { border:0px; padding:0 3px 3px 3px; margin:0px;}

.bibItemsEntry { color: #000; text-align: left;font-size:90%; }

.bibItemsEntry td {border-bottom:1px solid #EEEEEE;font-size:90%; }

.bibItemsHeader { color: #000;font-size:90%; font-weight: bold; text-align: left; border-bottom:1px solid #d7e3ff;}

.bibItemsLabel { }

.bibLicense { }

.bibLicenseEntry { color: #000000; background: #FFF8EF; text-align: left; }

.bibLicenseHeader { color: #FFFFFF; background: #00437f; font-weight: bold; text-align: left; }

.bibLinks { border: 1px solid #00437f; }

.bibOrder { border: 1px solid #00437f; font-size:90%; margin:5px 10px;}

.bibOrderEntry { }

.bibPager { display:none; }

.bibRecordLink { font-size:82%; padding-left: 6px; font-style: italic; }

.bibResource { }

.bibResourceBrief { }

.bibResourceCaption { }

.bibResourceEntry td { font-weight: bold; }

.bibResourceHeader { }

.bibResourceLicense td { padding-bottom: 5px; }

.bibResourceLicenseEntry { background: #FFF99D; }

.bibResourceSubEntry { border-bottom: 1px solid blue; background-color: #FFFBC6; font-style: italic; }

.bibResourceTable, .browseResourceTable { margin-top: 10px; border:0px; }

.bibResourceTableEntry, .browseResourceTableEntry { font-size: 85%; font-weight: normal; padding-left: 1px; background:#d7e3ff;}

.bibResourceTableHeader, .browseResourceTableHeader { color:#fff;font-weight: bold; font-size: 85%; background: #00437f; padding: 1px; text-align: center; border-bottom:1px solid #7e4a1f; } 

.bibScreen { }

.bibSearchtool { background:#d7e3ff; width:70%; padding:5px 0 0 0; font-size: 80%; }

.bibThumbnails { }

.bibTOC { width: 90%; font-size: 90%; margin-left: 30px; border: 1px solid #00437f; padding: 3px; margin-bottom: 3px; }

.bibTOC td { border-bottom: 1px solid #00437f; }

.bibXML { }

.mainSpacer {margin:0 1em 1em 1em;}


/* content div rounding styles */

.textFix {font-size:100%}
#topLogohead { display:none; }
#botnav { display:none; }

/*styles for bib_display.html */

.topDiv { display:none; }
.limitDiv {width:60%}
.searchTool {border:1px solid #00437F; background:#d7e3ff; padding:5px 0 5px 0;}
#bibLeft { float:left; left: 2%; width: 12%; }
#bibContent { float:left; left: 16%; width: 75%; }
#bibRight { float:left; left: 88%; width: 10%; }
.raised {background: transparent; width:90%; margin:0 auto;}
.raised .top, .raised .bottom {display:block; background:transparent; font-size:1px;}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {display:block; overflow:hidden;}
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {height:1px;}
.raised .b2 {background:#d7e3ff; border-left:1px solid #fff; border-right:1px solid #eee;}
.raised .b3 {background:#d7e3ff; border-left:1px solid #fff; border-right:1px solid #ddd;}
.raised .b4 {background:#d7e3ff; border-left:1px solid #fff; border-right:1px solid #aaa;}
.raised .b4b {background:#d7e3ff; border-left:1px solid #eee; border-right:1px solid #999;}
.raised .b3b {background:#d7e3ff; border-left:1px solid #ddd; border-right:1px solid #999;}
.raised .b2b {background:#d7e3ff; border-left:1px solid #aaa; border-right:1px solid #999;}
.raised .b1 {margin:0 5px; background:#fff;}
.raised .b2, .raised .b2b {margin:0 3px; border-width:0 2px;}
.raised .b3, .raised .b3b {margin:0 2px;}
.raised .b4, .raised .b4b {height:2px; margin:0 1px;}
.raised .b1b {margin:0 5px; background:#999;}
.raised .tool form {margin:auto; padding:0;}
.raised .tool {display:block; background:#d7e3ff; border-left:1px solid #fff; font-size:80%; border-right:1px solid #999; padding:3px;}
.clear {clear:both; margin-bottom:5px;}
.clear2 {clear:both;}
#infoTable {width:75%;float:left;}
#sidebarContent {width:21%;padding:0 0 0 5px;float:left}
#infoOther {text-align:center; display:none; }
#moreInfo {display:none; padding:0 3px 0 3px; }
#moreCategories {display:none; padding:0 3px 0 3px;}
#revandRate { text-align:center; background:#fff; padding:0 0 3px 0;}
.sidecontentHeading { display:none; background:#fff;}
.conHead {background:#162A6D; color:#fff; font-size:85%; font-style:italic; font-weight:bold; border-bottom:1px solid #FFB515; width:100%; padding:2px 0 2px 6px;}
.booking {text-align:center; margin:0 0 5px 0; display:none;}
#bibMenuLinks {padding: 0 5px 3px 5px; text-align:center;}
#bibMenuLinks a {color:#162A6D;}

div.bibContentBox div a {color:#00437f;text-decoration:none; font-weight:bold; outline:none; font-size:75%;}
div.bibContentBox div a:hover {color:red;text-decoration:underline; font-weight:bold;outline:none;font-size:75%;}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}


/* tab rounding styles for selection switches*/
.contop, .conbottom {display:none; background:transparent; font-size:1px;}
.bibTabOn { display:none; }
.bibTabOff { display:none; }
.bibSimTabOn { display:none; }
.bibSimTabOff { display:none; }
.bibTabContent { display:none; }
.bibTabSelected { display:none; }
.bibSimTabSelected { display:none; }
.bibSimTabContent { display:none; }

.bibContentWrapper {clear:both; margin-top:-10; background:#fff;display:block; border:0px solid #ffffff; border-width:1px 1px 0 1px;padding:0;}
.bibContentSectionOptions {width:95%;margin:-10px 0 0 0; }

.searchTipTable {font-size:80%;}
#searchTipMain {display:none; margin:12px}
.searchTipContentInfo {display:block; background:#fff; border:0 solid #00437F; border-width:0 1px; padding:2px 5px;color:#000;}
#searchTipsLink {text-align:center}
#searchTipsLink a:link, #searchTipsLink a:visited, #searchTipsLink a:active {color:#000; text-decoration:none;}
#searchTipsLink a:hover {color:#000; text-decoration:underline;}

/* table striping styles */
/* for brief citation */
td.odd { background:#eff7ff; }
td.highlight {background:#FFFFDF;}

/* for browse entries */
tr.odd { background:#eff7ff; }
tr.highlight {background:#FFFFDF;}

#copySection {display:none}
#moreSection {display:none}
#fullSection {}
#similarSection {display:none}
.resTab {display:none}
#printView {display:none;}
#webView { display:block; text-align:right; font-size:.8em; margin:0 5px 0 0;position:absolute;top:10px;right:5px;font-weight:bold;padding:3px;}
#webView a { color:#162A6D; text-decoration:underline;}
#webView a:hover {color:#fff;background:#000;font-weight:bold;text-decoration:underline; padding:3px;}
form {display:none;}
.holdingsDivider { display:none; margin:-3px}

#nav {display:none;}
#colorSwitchBar {display:none;}
.reviewSectionHead {display:none}

