/*<!-- 2006 WebPAC Pro Version, set from 26 March, 2007 -->*/
/*<!-- This file last changed: 17 August, 2006 -->*/
/* *******************************************************************

The new example set has a separate Internet Explorer (IE) css file. You must make similar changes to your IE style sheet in
order for the same display across browsers. The IE style sheet is ie_styles.css 

The ie_styles.css file contains only styles that are used to correct the IE css implementation to create a cross browser
compatible theme.  This style sheet is inserted by conditional comments in the head of any html page or with the 
INSERTTAG_INHEAD wwwotion.  The correct conditional statement follows:

<!--[if lte IE 8]><link rel="stylesheet" media="all" type="text/css" href="/screens/ie_styles.css" /><![endif]-->


********************************************************************** */
/* general appearance */
/* See also Web Option BODYPARAM */

/* Stylesheet to use for dynamic Web pages */
/* is set by Web Option STYLESHEET */

/* COLOR SCHEME (use find & replace to swap colors */
/* border and tab light blue : d7e3ff */
/* manilla background color: FFF8EF */
/* medium blue: 0132A7 */
/* dark blue: 00437f */
/* very dark blue: 162A6D */
/* light orange : F5D9A3 */
/* light blue used in table striping : eff7ff */
/* light yellow used in table highlighting : FFFFDF */
/* light gray for .authPublicNote : F7F4F4 */ 

/* Section 1 */
/*Global tag styles*/
body { font-size:85%; margin: 0; padding: 0; background-color: white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style : normal; font-weight : normal; }

/*div, table { clear: both; }*/

/* This rule causes search form elements to resize along with the rest of the text on the page if the user resizes text. */
input, select, textarea { font-size: 95%;}

/* This rule uses CSS2 to give a nicer effect in compliant browsers, while avoiding an annoying display effect in Internet Explorer 6 */
input[type="checkbox"] { background-color: #FFF8EF; }

strong { font-weight: bold; }

td { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style : normal; font-weight : normal; }

th { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; }

/*traditional link colors are suggested for better usability */
a:link { color: #000099; }
a:active{ color: #993399; }
a:visited { color: #993399;  } 
a:hover  { color: #993399;  } 

A.pageNavAreaText:LINK, A.pageNavAreaText:VISITED {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #00437f;  }

A.pageNavAreaText:ACTIVE, A.pageNavAreaText:HOVER {  color: #FFF8EF; text-decoration: none; font-weight: bold; background-color: #00437f;  }




/* Section 2 */
/* named styles listed in alphabetical order */

.additionalCopies {padding:0 15px 0 15px;}

.additionalCopies th.bibItemsHeader { color: #000; font-size:90%; font-weight: bold; text-align: center; background:#bcd4ec; border:0px; }

.additionalCopiesNav {}

/*controls display of authority redirect information */
.authorityRedirect { border: 2px solid #0132A7; padding:5px; text-align:center; }

.authPublicNote { font-size: 80%; background: #F7F4F4; } 


/* This is used in the Materials Booking calendar */
.available { font-weight: bold; color: green; }

.availLimMessage { font-style: italic; text-align: left; }


/* classes for bib display */
/* see also Web options TABLEPARAM_BIB... */

.bibBookingsHeader { font-weight: bold; text-decoration: none; padding: 3px; border: 1px solid #00437f; background: #FFFBC6; margin-bottom:8px;}

.bibDetail { }

.bibHoldings {border: 0px; }

.bibHoldingsEntry { font-size:90%; border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;border-right:1px solid #EEEEEE;}

.bibHoldingsHeader { }

.bibHoldingsLabel { font-size:90%; border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;border-left:1px solid #EEEEEE;}

.bibHolds { font-size:90%; border: 1px solid #00437f; }

.bibHoldsEntry { font-size:90%; border: 1px solid #00437f; }

.bibInfo { }

.bibInfoData {font-size:75%; }

.bibInfoEntry { }

.bibInfoLabel { width: 15%; font-size:75%; text-align: right; padding-right: 1em; background-color: #d7e3ff; font-weight: bold; font-style: italic; }

.bibItems { border:0px; padding:0 3px 3px 3px; margin:0px;}

.bibItemsEntry { color: #000; text-align: left;font-size:90%; }

.bibItemsEntry td {border-bottom:1px solid #EEEEEE;font-size:90%; }

.bibItemsHeader { color: #000;font-size:90%; font-weight: bold; text-align: left; border-bottom:1px solid #d7e3ff;}

.bibItemsLabel { }

.bibLicense { }

.bibLicenseEntry { color: #000000; background: #FFF8EF; text-align: left; }

.bibLicenseHeader { color: #FFFFFF; background: #00437f; font-weight: bold; text-align: left; }

.bibLinks { border: 1px solid #00437f; }

.bibOrder { border: 1px solid #00437f; font-size:90%;}

.bibOrderEntry { }

.bibPager { text-align:right; font-size:85%; padding:5px 5px 0 0; }

.bibRecordLink { font-size:82%; padding-left: 6px; font-style: italic; }

.bibResource { }

.bibResourceBrief { }

.bibResourceCaption { }

.bibResourceEntry td { font-weight: bold; }

.bibResourceHeader { }

.bibResourceLicense td { padding-bottom: 5px; }

.bibResourceLicenseEntry { background: #FFF99D; }

.bibResourceSubEntry { border-bottom: 1px solid blue; background-color: #FFFBC6; font-style: italic; }

.bibResourceTable, .browseResourceTable { margin-top: 10px; border:0px; }

.bibResourceTableEntry { font-size: 85%; font-weight: normal; padding-left: 1px; background:#d7e3ff;}

.bibResourceTableHeader, .browseResourceTableHeader { color:#fff;font-weight: bold; font-size: 85%; background: #00437f; padding: 1px; text-align: center; border-bottom:1px solid #7e4a1f; } 

.bibScreen { }

.bibSearchtool { background:#d7e3ff; width:70%; padding:5px 0 0 0; font-size: 100%; }

.bibThumbnails { }

.bibTOC { width: 90%; font-size: 90%; margin-left: 30px; border: 1px solid #00437f; padding: 3px; margin-bottom: 3px; }

.bibTOC td { border-bottom: 1px solid #00437f; }

.bibXML { }


/* control over mainmenu and opacmenu pages layout */
.biglogo { margin-left:17px; width:350px; height:125px}

/* These are used for Materials Self-Booking */
.bookingsConfirmMsg { font-weight: bold; text-decoration: none; padding-bottom: 5px; background: #FFFBC6; }

.bookingsItemsEntry { }

.bookingsItemsHeader { }

.bookingsLegend { }

.bookingsLocation { }

.bookingsRepeat { margin-left: 15px; margin-right: 15px; border: 1px solid #00437f; padding: 3px; }

.bookingsRepeatNone { }

.bookingsRepeatDaily { }

.bookingsRepeatWeekly {  }

.bookingsRepeatWeeklyDay { margin-left: 30px; }

.bookingsRepeatMonthly {  }

.bookingsEndsOn {  }

.bookingsSelect { width: 90%; margin-left: 5%; margin-bottom: 1em; }

.bookingsSelectCal { width: 90%; margin-left: 5%; text-align: center; background: #00437f; border: 2px solid #00437f; margin-bottom: 1em; }

.bookingsSelectCal table { margin: auto; border: none; font-size: 95%; } 

.bookingsSelectCal th { text-align: center; border: none; } 

.bookingsSelectCal td { border: 1px solid #00437f; }

.bookingsSelectEndtime { margin-left: 10px; }

.bookingsSelectRepeat { margin-top: 5px; margin-bottom: 5px; }

.bookingsSelectTime { background: #00437f; border: 2px solid #00437f; padding: 3px; }

/* Brief Citation display styles */
.briefcitActions { padding:5px 0 5px 0;text-align: left; }

.briefcitDetail { font-size: 75%; padding:0 0 0 8px; }

.briefcitDetail img { padding-top: 2px; }

.briefcitExtras { font-size: 80%; text-align: center; white-space: nowrap; }

.briefcitExtras img { padding-bottom: 2px; }

.briefcitItems em { font-size: 90%; }

.briefcitItems table { }

.briefcitItems th, .briefcitItems td { font-size: 75%; }

.briefcitItems .bibItemsHeader { padding:0; }

.briefcitResultInfo { text-align: left; font-size:90%; }

.briefcitRequest { font-size: 75%; text-align:left; padding:0 0 0 5px; }

.briefCitRow { border-top:1px solid #d7e3ff; }

.briefcitStatus { font-weight: bold; }

.briefcitTitle { font-weight: bold; }

/* classes for browse displays */
/* See also Web options BROWSE_HEADERS, TABLEPARAM_BROWSE..., TABLEPARAM_BRIEFCIT */
.browseEntry { color: #000000; font-weight: normal; }

.browseEntry td { border-top:1px solid #d7e3ff;}

.browseEntryData { text-align: left; }

.browseEntryEntries { text-align: center; }

.browseEntryMark { font-weight: bold; }

.browseEntryMedia { vertical-align: middle; }

.browseEntryNum { text-align: center; }

.browseEntryRelevance { background:#d7e3ff;}

.browseEntryYear {text-align: center; }

.browseHeader { text-align:left; background:#d7e3ff;color:#00437f;  }

.browseHeaderData { text-align:left; padding:0 0 0 3px; }

.browseHeaderEntries {  }

.browseHeaderMark { }

.browseHeaderMedia { }

.browseHeaderNum {  }

.browseHeaderRelevance {  }

.browseHeaderYear { }

.browseList { }

.browsePager { }

.browseResourceTableEntry { color: #000000; background:#d7e3ff; font-size: 85%; font-weight: normal; text-align: center; padding-left: 1px;  }

.browseSaveJump { color: #000000; background: #FFFFFF; text-align: left; }

.browseSaveJump form { display: inline; }

.browseScreen { }

.browseSearchtool { background: #FFF8EF; margin-left: auto; margin-right: auto; margin-bottom: -3px; padding-left: 3px; padding-right: 3px; border: 1px solid #00437f; }

.browseSearchtoolMessage { font-size: 90%; } 

.browseSubEntry { color: #000000; font-weight: normal;  }

.browseSubEntryData { }

/* Is an Entries column ever drawn in Extended browse? */
.browseSubEntryEntries { }

.browseSubEntryMedia { }

.browseSubEntryRelevance { }

.browseSubEntryYear { }

.browseSuperEntry td { background: #d7e3ff; padding:0 0 0 3px;  }

.button { vertical-align: middle; }

/* This is used in the Materials Booking calendar */
.closed { font-weight: bold; color: red; }

.errormessage { font-size: 125%; color: #FF0000; }

.errormessage h2 { display:inline; }

/* External Patron Authentication product style */
.extpat div { line-height: 1.66em; width: 90%; background: #00437f; border: 2px solid #00437f; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }

/* External Patron Authentication product style */
.extpat strong { display: block; text-align: left; }

/* Feed table link styles */
.feedtable a:link, .feedtable a:visited, .feedtable a:active  {color:#000; text-decoration:underline; font-size:90%;}
.feedtable a:hover  {color:red; text-decoration:underline;font-size:90%;}

/* used for search help pages tabbed navigation */
.fields td { padding: 2px; }


/* This is used in the featured list display */
.ftlistHeader { }

.helpNote { font-size: 90%; font-style: italic; }

.helpspan {padding-right:.5em; font-size:90%}

.holdingsDivider { display:none; margin:-3px}

.holdingsItemsBookings { margin:0 0 8px 0; }

.InnovativeCredit {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 70%; font-style: italic}

/* Used in Related Searches display */
div#instructions { font-size: 90%; font-style: italic; }

.KidsOnline {  font-family: "Comic Sans MS", Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold}

/* External Patron Authentication product style */
.libpat div { line-height: 1.66em; width: 90%; background: #00437f; border: 2px solid #00437f; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }

/* External Patron Authentication product style */
.libpat strong { display: block; text-align: left; }


/* Styles used in Limit/Sort Search page - srchmod.html */
.limitEntriesFoundNum { font-size: 90%; font-style: italic; }

.limitEntriesFoundText { font-size: 90%; font-style: italic; }

.limitSearchTerm { font-size: 90%; font-weight: bold; }

.limitSearchTypeText { font-size: 90%; }

.limitSearchTypeIndex { font-size: 90%; }


.loggedInMessage {	padding-left: 6px; font-style: italic; color: red; font-size: 90%; }

/* External Patron Authentication product styles */
.loginarea { }

.main { margin-left: 20px; margin-right: 20px; }

/* used for search help pages tabbed navigation */
#main {margin-left:15px; margin-right:15px; font-size:90%}

#main a:link { color: #00437f; }

#main a:hover { text-decoration: underline; }

#main a:visited { color: #0132A7;  } 
#main div {padding-top:.2em}
#main .tabs a:link, #main .tabs a:visited { color: #000; text-decoration: none; }
#main .tabs a:hover { text-decoration: underline; }

/* control over mainmenu and opacmenu pages layout */
.metacatalog { text-align: left; padding: 20px; padding-top: 1em; margin-bottom: 0px; margin-right: 20px; margin-left:20px; background-color: #FFF8EF; vertical-align: top; font-size: 80%; height:150px}


.msg { font-size: 125%; color: #FF0000; }

.navigationRow { margin: -3px; }

.navigationRow select { vertical-align: top; }

.nowrap {white-space: nowrap; }

.pageDirectoryArea { color: #000000; text-align: left;  }

.pageInfoAreaHeader { color: #0132A7; background: #FFF8EF; font-size: 110%; font-weight: bolder; text-align: left;  }

.pageMainArea { color: #000000; background: #FFF8EF; padding-left: 3px; }

.pageMainAreaHeader { color: #0132A7; font-size: 110%; font-weight: bolder; text-align: left; }

.pageMainAreaSubHeader { font-weight: bold; font-style: italic}

.pageNavArea { color: #FFFFFF; background: #00437f; }

.pageNavAreaBorder { background: #0132A7; }

.pageNavAreaText {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #00437f; }


/* classes for patron record display */
/* see also Web options TABLEPARAM_PATDISP, TABLEPARAM_PATFUNC, */
/* and the various BUT_PAT_ graphics options. */

.patActionsLinks { text-align: center; clear: both; padding: 10px; }

.patActionsLinks img { vertical-align: middle; }

.patDisplay { }

.patDisplayFunc {}

.patDisplayInfo { }

.patFunc { border-top: 2px solid #00437f; border-spacing: 0; width: 100%; }

.patFunc td { padding: 5px; font-size: 90%; border-bottom: 1px solid #00437f; }

.patFuncArea { border: 2px solid #00437f; margin: 3px; }

.patFuncArea form { display: inline; }

.patFuncArea img { padding-top: 2px; } 

.patFuncAuthor { }

.patFuncBookDate { }

.patFuncBtns { color: #000000; background: #FFF8EF; }

.patFuncCallNo { }

.patFuncCancel { text-align: center; }

.patFuncDate { }

.patFuncDetails { }

.patFuncEntry { color: #000000; background: #FFF8EF; font-weight: normal;  }

.patFuncFinesDetailAmt { }

.patFuncFinesDetailDate { }

.patFuncFinesDetailDateLabel { }

.patFuncFinesDetailType { }

.patFuncFinesEntryDetail td { border-bottom: 1px solid #00437f; }

.patFuncFinesEntryTitle { color: #000000; background: #FFF8EF; font-weight: normal;  }

.patFuncFinesTotal { }

.patFuncFinesTotalAmt { font-weight: bold; }

.patFuncFinesTotalLabel { }

.patFuncFreeze { }

.patFuncHeaders { color: #FFFFFF; background: #00437f; padding-left: 3px; padding-right: 3px; font-size: 80%; }

.patFuncMark { }

.patFuncModifyPatInfo { }

.patFuncModifyPIN { }

.patFuncModifyPINExample { }

.patFuncNoEntries { }

.patFuncPickup { }

.patFuncPSrchBtn { }

.patFuncPSrchType { }

.patFuncRating { }

.patFuncRenewCount { font-style: italic; color: red; }

.patFuncStatus { }

.patFuncTitle { font-weight: bold; }

.patHelpLinks { border: 1px solid #00437f; border-top: none; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background: #FFF8EF; }

.patHelpLinks a { text-align: right; display: block; border-bottom: 1px #00437f solid; padding: 2px; }

.patImage { }

.patInfo { }

.patMainFuncs { float: left; }

.patNameAddress { text-align: left; border: 1px solid #0132A7; width: 350px; float: left; padding: 5px; }

.patSearchLinks { }

.patStatusLinks { border: 1px solid #00437f; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background: #FFF8EF; float: left; }

.patStatusLinks a { text-align: left; display: block; border-bottom: 1px #00437f solid; padding: 2px; }




.paymentPage { margin: 10px; }

.paymentPage h2 { font-weight: bold; }

.paymentPageFinestable { width: 80%; border: 2px solid #00437f; }


.popupForm { font-size: 90%; }

.popupForm td { font-size: 90%; }

/* These are used in the Related Searches display in the Search Tool */
.rateLabel {color:#00437f;}
.rateLabel a:active, .rateLabel a:visited ,.rateLabel a:link {color:#00437f;text-decoration:none}
.rateLabel a:hover {color:#00437f;text-decoration:underline}

.relSearchLabel { }

.relSearchLink { }

.reqFillTimeMsg { font-style: italic; font-size: 90%; }

.reserveBibs { border: 2px solid #00437f; }

.reserveBibs td { border-bottom: 1px solid #00437f; }

.reserveBibs input { background-color: #FFF8EF; }

/* Resource Record display */
.resourceBib { }

.resourceBibEntry { color: #000000; background: #FFF8EF; text-align: left; }

.resourceBibHeader { color: #FFFFFF; background: #00437f; font-weight: bold; text-align: left; }

.resourceInfoData { }

.resourceInfoLabel { background: #FFF8EF; font-style: italic; }

.resourceLicense { }

.resourceLicenseEntry { color: #000000; background: #FFF8EF; text-align: left; }

.resourceLicenseHeader { color: #FFFFFF; background: #00437f; font-weight: bold; text-align: left; }

.resourceLinkEntry { }

.resourceResource { }

.rssChannelEntries { padding:5px 0 5px 0 ; }

.rssChannelEntry { padding: 4px; }

.rssChannelEntryDate { font-size: 70%; font-style: italic; }

.rssChannelEntryDesc { font-size: 80%; }

.rssChannelEntryHead { font-size: 85%; font-weight: bold; display: list-item; padding-bottom: 2px; }

.rssChannelImage img { border: 0; margin-top: 2px; }

.rssChannelTitle { font-weight: bold; }

.rssFeed { padding: 5px; margin: 2px; border: 1px solid #00437f; }

.searchTipsNavAreaText {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #0132A7; }

.searchTipsHeaderText {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #0132A7; text-decoration: none; font-weight: bold; background-color: #FFF8EF; }

.sectionHeading { font-weight: bold; }

/* This is used in the patron views of holds */
.suspended td { font-size: 90%; background: #EBECF6 url(/screens/icicles.gif) repeat-x top; }

.topicFeeds { clear: none; float: right; width: 60%; padding: 5px; }

.topicLinks { clear: none; float: left; padding: 5px; width: 35%; }

.topicLinks ul { padding: 5px; padding-left: 20px; margin: 2px; border: 1px solid #00437f; }

/* This is used in the Materials Booking calendar */
.unavailable { font-weight: bold; color: black; background: #D7D7D7; }

.unpadded { margin-bottom:auto; margin-top:auto; }

.wamCalcDate{ background: #ECECEC; border: 1px silver dashed; font-size: 90%;  }

.xmlframe { width:100%; height:600px; border:1px solid #000; }

.yourEntryWouldBeHere { }

.yourEntryWouldBeHereData { border: 2px solid #F5D9A3; }

/* Section 3: WebBridge */
/* WebBridge style names lowercased as of Release 2005.  Declare styles using these style names for Release 2005 and later */

/* body element in WebBridge forms */
.wbbody { color: #000000; font-family: verdana,geneva,arial,sans-serif; background-color: #fff; font-size: 80%; margin:0;padding:0; }

/* the following .wbbody styles are used to style the wp_panel.html pop up page */
.wbbody a:link, .wbbody a:visited { color:#00437f; text-decoration: underline; }

.wbbody a:hover, .wbbody a:active { color: #aa1002;text-decoration: underline; }

/* fixing alignment of images */
.wbbody img { vertical-align: middle; }

.wbbody .wbcategory { color: #000000; margin:10px 10px 0 10px; font-size:11px; font-weight: bold; border-bottom: 1px solid #00437f; background-color: #d7e3ff; padding:2px 5px 2px 5px; }

.wbbody .wbcategory strong { font-weight: bold; }

.wbbody .wbcategory font { color:#000000; }

.wbbody .wbresourcelist { background-color: #fff; margin-top: 5px; }

.wbbody .wblinkdisplay { background: #F8F8FA; margin:1px 20px 1px 20px; font-weight: normal; padding:2px 5px 2px 5px; font-size:11px; }

.wbbody .wblinkdisplay form { padding:0;margin:0; }

.wbbody .wblinktext { font-size:11px; }

.wbbody .wblinkfield { font-style:italic; font-size:11px; }

.wbbody .wbsubheading { font-weight: bold; color:#aa1002;}

.wbbody .header { }

.wbbody .noresources { color: red; font-size: 1.2em; font-weight: bold;} 
 
.wbbody .citation { background-color: #FFFFFF; border: 1px solid #162A6D; padding: 5px; }

.wbbody .resourceinfo { }

.wbbody .advisory { }

.wbbody .ada {}

.wbbody .license { }

.wbbody .linkdisplay { }

.wbbody .coverage { }

.wbbody .coverage em { font-style: normal; }

.wbbody .wbheading { font-size:11px;margin:0 10px -7px 10px; }

.wbbody .headertable { background:#d7e3ff; }

.wbbody .citationtitle { font-weight: bold; color:#aa1002; font-size:1.2em;}

.wbbody .fieldinsert { font-size: .9em; margin-left: 30px; margin-right: 30px; }

/* WebBridge category headings */
.wbcategory { font-weight:bold; margin-top: 1em;}

/* contents of the WBHEADERTEXT wwwoption */
.wbheading { }

/* Entire WebBridge Resource Definition Link Display */
.wblinkdisplay { }

/* Field selectors in Link Display (except for #@LinkText#) */
.wblinkfield { }

/* #@LinkText# field selector in WB Link Display */
.wblinktext { }

/* deprecated style -- manually inserted in WB category definition */
.wbPanelCategory { color: #0132A7; }

/* Contents of  resourcelist token in webbridge forms */
.wbresourcelist { }

/* #HEADER# token in WBHEADERTEXT wwwoption */
.wbsubheading { }

.mainSpacer {margin:0 1em 1em 1em;}
div.DisplayBoxContent div a {color:#00437F;text-decoration:none; font-weight:bold; outline:none; }
div.DisplayBoxContent div  {color:#000;text-decoration:none; font-weight:bold; outline:none; }
div.DisplayBoxContent div a:hover {text-decoration:underline; font-weight:bold;outline:none;}
.mainActiveTab {background: transparent;  float:left; margin:0 5px -1px 0; }
.mainInactiveTab {background: transparent;  float:left; margin:0 5px 0 0; }
.menuTabContent {width:100px;background-color: #d7e3ff; text-align:center; padding:1px 0 5px 0; height:17px; }
.menuTabActive {width:100px;background-color: #fff; text-align:center; padding:1px 0 5px 0; border-left:1px solid #00437F; border-right:1px solid #00437F; height:20px; margin:0 0 0 0; }

.helpActiveTab {background: transparent; float:left; margin:0 5px -1px 0; }
.helpActiveTabMedium {background: transparent;  float:left; margin:0 5px -1px 0; }
.helpActiveTabLarge {background: transparent;  float:left; margin:0 5px -1px 0; }
.verifyActiveTabXL {background: transparent; float:left; margin:0 5px -1px 0; }
.helpInactiveTab {background: transparent; float:left; margin:0 5px 0 0;}
.helpInactiveTabMedium {background: transparent; float:left; margin:0 5px 0 0; }
.helpInactiveTabLarge {background: transparent;  float:left; margin:0 5px 0 0; }
.helpTabContent {width:100px;background-color: #d7e3ff; text-align:center; padding:1px 0 5px 0;  height:17px; }
.helpTabActiveContent {width:100px;background-color: #fff; text-align:center; padding:1px 0 5px 0; border-left:1px solid #00437F; border-right:1px solid #00437F; height:20px; margin:0 0 0 0; }
.helpTabContentMedium {width:125px;background-color: #d7e3ff; text-align:center; padding:1px 0 5px 0; height:17px;}
.helpTabContentLarge {width:175px;background-color: #d7e3ff; text-align:center; padding:1px 0 5px 0; height:17px;}
.helpTabActiveContentMedium {width:125px;background-color: #fff; text-align:center; padding:1px 0 5px 0; border-left:1px solid #00437F; border-right:1px solid #00437F; height:20px; margin:0 0 0 0; }
.helpTabActiveContentLarge {width:175px;background-color: #fff; text-align:center; padding:1px 0 5px 0; border-left:1px solid #00437F; border-right:1px solid #00437F; height:20px; margin:0 0 0 0; }
.verifyTabActiveContentXL {width:200px;background-color: #fff; text-align:center; padding:1px 0 5px 0; border-left:1px solid #d7e3ff; border-right:1px solid #00437F; height:20px; margin:0 0 0 0; }

.active1, .active2, .active3, .active4 {display:block; overflow:hidden;}
.active1, .active2, .active3 {height:1px;}
.active2, .active3, .active4 {background:#fff;  border-left:1px solid #00437F; border-right:1px solid #00437F;}
.active1 {margin:0 5px; background:#00437F;}
.active2 {margin:0 3px; border-width:0 2px;}
.active3 {margin:0 2px;}
.active4 {height:2px; margin:0 1px;}

.inactive1, .inactive2, .inactive3, .inactive4 {display:block; overflow:hidden;}
.inactive1, .inactive2, .inactive3 {height:1px;}
.inactive2, .inactive3, .inactive4 {background:#d7e3ff;}
.inactive1 {margin:0 5px; background:#d7e3ff;}
.inactive2 {margin:0 3px; border-width:0 2px;}
.inactive3 {margin:0 2px;}
.inactive4 {height:2px; margin:0 1px;}

/* content div rounding styles */
.mainActiveContent {border:0 solid #00437F; border-width:1px 1px 0 1px;clear:both;padding:2px 10px 2px 10px;background:#fff;display:block;}
.mainActiveContentTabless {border:0 solid #00437f; border-width:1px 1px 0 1px;clear:both;padding:2px 10px 2px 10px;background:#fff;display:block;margin:0;}
.helpActiveContent {border:0 solid #00437F; border-width:1px 1px 0 1px;clear:both;padding:2px 10px 2px 10px;background:#fff;display:block; }
.contop, .conbottom {display:block; background:transparent; font-size:1px;}
.conb1, .conb2, .conb3, .conb4 {display:block; overflow:hidden;}
.conb1, .conb2, .conb3 {height:1px;}
.conb2, .conb3, .conb4 {background:#fff; border-left:1px solid #00437F; border-right:1px solid #00437F;}
.conb1 {margin:0 5px; background:#00437F;}
.conb2 {margin:0 3px; border-width:0 2px;}
.conb3 {margin:0 2px;}
.conb4 {height:2px; margin:0 1px;}
.folderWrapper {float:left;width:73%;}
.mainNavLinksWrapper {float:left;width:25%}


.roundedContent {background: transparent; margin:.5em 0 1em 0;}
.roundedContent2 {background: transparent;width:100%;}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#FFF8EF; border-left:1px solid #00437F; border-right:1px solid #00437F;}
.xb1 {margin:0 5px; background:#00437F;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.roundedContentInfo {display:block; background:#FFF8EF; border:0 solid #00437F; border-width:0 1px; padding:2px 5px;color:#000;font-size:90%;}
.roundedContentInfo a:link,.roundedContentInfo a:visited, .roundedContentInfo a:active {color:#000;text-decoration:none;}
.roundedContentInfo a:hover {color:#000;text-decoration:underline}
.mainActiveContentTable {width:100%;font-size:90%;}
.mainContentHead {font-weight:bold;}
span#searchTips {padding:5px 5px 5px 5px;font-size:85%; display: none;border:1px solid #000}
.textFix {font-size:100%}
#topLogohead {background-color:#d7e3ff; padding:3px 5px 3px 5px;margin:0 0 10px 0;border-bottom:2px solid #00437F;}
#topLogohead span {color:#fff; font-weight:bold;}
#topLogohead form {padding:0; margin:auto;}
#topLogoImage { padding:5px 3px 5px 5px ; }
#currentDate {font-weight:bold; color:#ffffff; font-size:.8em; padding:5px;}
.topLog {padding:3px 0 3px 10px;margin:0;font-size:80%; color:#fff;}
.topLog input {font-size:.7em; }
.unpadded { margin-bottom:auto; margin-top:auto;  }
#topID {float:right; }
#topID ul {list-style:none; font-size:.7em; padding:0; margin:0 0 5px 0;}
#topID ul li {display:inline; padding:0 2px 0 0;}
#topID ul li a {text-decoration:none; color:#00437F;}
#topID ul li a:hover {text-decoration:underline; color:#00437F;}
#topID .breaker {color:#00437F;}
#botnav { background: #d7e3ff; margin: 0 0 10px 0; font-size:80%; padding:0; text-align:center;border-top:2px solid #00437F;}
.botmenuLinks {position:relative;margin: 0;padding:5px;}
.breaker {color:#00437F}
#botnav ul {list-style:none; }
#botnav ul li {display:inline; padding:0 5px 0 0;}
#botnav ul li a {text-decoration:none; color:#00437F;}
#botnav ul li a:hover {text-decoration:underline; color:#00437F;}

/*styles for bib_display.html */

.topDiv {text-align:center}
.limitDiv {width:60%}
.searchTool {border:1px solid #00437F; background:#d7e3ff; padding:5px 0 5px 0;}
#bibLeft { float:left; left: 2%; width: 12%; }
#bibContent { float:left; left: 16%; width: 75%; }
#bibRight { float:left; left: 88%; width: 10%; }
.raised {background: transparent; width:90%; margin:0 auto;}
.raised .top, .raised .bottom {display:block; background:transparent; font-size:1px;}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {display:block; overflow:hidden;}
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {height:1px;}
.raised .b2 {background:#d7e3ff; border-left:1px solid #fff; border-right:1px solid #eee;}
.raised .b3 {background:#d7e3ff; border-left:1px solid #fff; border-right:1px solid #ddd;}
.raised .b4 {background:#d7e3ff; border-left:1px solid #fff; border-right:1px solid #aaa;}
.raised .b4b {background:#d7e3ff; border-left:1px solid #eee; border-right:1px solid #999;}
.raised .b3b {background:#d7e3ff; border-left:1px solid #ddd; border-right:1px solid #999;}
.raised .b2b {background:#d7e3ff; border-left:1px solid #aaa; border-right:1px solid #999;}
.raised .b1 {margin:0 5px; background:#fff;}
.raised .b2, .raised .b2b {margin:0 3px; border-width:0 2px;}
.raised .b3, .raised .b3b {margin:0 2px;}
.raised .b4, .raised .b4b {height:2px; margin:0 1px;}
.raised .b1b {margin:0 5px; background:#999;}
.raised .tool form {margin:auto; padding:0;}
.raised .tool {display:block; background:#d7e3ff; border-left:1px solid #fff; font-size:80%; border-right:1px solid #999; padding:3px;}
.clear {clear:both; margin-bottom:5px;}
.clear2 {clear:both;}
#infoTable {width:75%;float:left;}
#sidebarContent {width:21%;padding:0 0 0 5px;float:left}
#infoOther {text-align:center; display:none; }
#moreInfo {display:none; padding:0 3px 0 3px; }
#moreCategories {display:none; padding:0 3px 0 3px;}
#revandRate { text-align:center; background:#d7e3ff; padding:0 0 3px 0;}
.sidecontentHeading { background:#00437f; color:#fff; font-size:80%; font-style:italic; font-weight:bold; border-bottom:1px solid #7e4a1f; width:100%; margin:0 0 3px 0;}
.conHead {background:#162A6D; color:#fff; font-size:85%; font-style:italic; font-weight:bold; border-bottom:1px solid #FFB515; width:100%; padding:2px 0 2px 6px;}
.booking {text-align:center; margin:0 0 5px 0;}
#bibMenuLinks {padding: 0 5px 3px 5px; text-align:center;}
#bibMenuLinks a {color:#162A6D;}

div.bibContentBox div a {color:#00437f;text-decoration:none; font-weight:bold; outline:none; font-size:75%;}
div.bibContentBox div a:hover {color:red;text-decoration:underline; font-weight:bold;outline:none;font-size:75%;}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}


/* tab rounding styles for selection switches*/
.bibTabOn {background: transparent;  float:left; margin:0 5px -1px 0; }
.bibTabOff {background: transparent; ; float:left; margin:0 5px 0 0; }
.bibSimTabOn {background: transparent; float:left; margin:0 5px -1px 0; }
.bibSimTabOff {background: transparent; float:left; margin:0 5px 0 0; }
.bibTabContent {width:100px;background-color: #d7e3ff; text-align:center; padding:5px 0 5px 0;height:15px; }
.bibTabSelected {width:100px;background-color: #fff; text-align:center; padding:5px 0 5px 0; border-left:1px solid #00437f; border-right:1px solid #00437f; height:18px; margin:0 0 0 0; }
.bibSimTabSelected {width:150px;background-color: #fff; text-align:center; padding:5px 0 5px 0; border-left:1px solid #00437f; border-right:1px solid #00437f; height:18px;  margin:0 0 0 0; }
.bibSimTabContent {width:150px;background-color: #d7e3ff; text-align:center; padding:5px 0 5px 0;  height:15px; }

.tabTop, .tabBottom {display:block; background:transparent; font-size:1px;}

.selected1, .selected2, .selected3, .selected4 {display:block; overflow:hidden;}
.selected1, .selected2, .selected3 {height:1px;}
.selected2, .selected3, .selected4 {background:#fff;  border-left:1px solid #00437f; border-right:1px solid #00437f;}
.selected1 {margin:0 5px; background:#00437f;}
.selected2 {margin:0 3px; border-width:0 2px;}
.selected3 {margin:0 2px;}
.selected4 {height:2px; margin:0 1px;}

.option1, .option2, .option3, .option4 {display:block; overflow:hidden;}
.option1, .option2, .option3 {height:1px;}
.option2, .option3, .option4 {background:#d7e3ff;}
.option1 {margin:0 5px; background:#d7e3ff;}
.option2 {margin:0 3px; border-width:0 2px;}
.option3 {margin:0 2px;}
.option4 {height:2px; margin:0 1px;}
.bibContentWrapper {border:0 solid #00437f; border-width:1px 1px 0 1px;clear:both;padding:0 10px 0 10px;background:#fff;display:block;}
.bibContentSectionOptions {width:95%;display:none;margin:-10px 0 0 0; }
.bibContentSectionDefault {width:95%;margin:-10px 0 0 0; }

.searchTipTable {font-size:80%;}
#searchTipMain {display:none; margin:12px}
.searchTipContentInfo {display:block; background:#fff; border:0 solid #00437F; border-width:0 1px; padding:2px 5px;color:#000;}
#searchTipsLink {text-align:center}
#searchTipsLink a:link, #searchTipsLink a:visited, #searchTipsLink a:active {color:#000; text-decoration:none;}
#searchTipsLink a:hover {color:#000; text-decoration:underline;}


/* table striping styles */
/* for brief citation */
td.odd { background:#eff7ff; }
td.highlight {background:#FFFFDF;}

/* for browse entries */
tr.odd { background:#eff7ff; }
tr.highlight {background:#FFFFDF;}

/*styles for pirnt view and web view toggles in bib_display.html*/
#printView {text-align:right; font-size:.8em; margin:0 5px 0 0;padding-top:15px;height:15px;}
#printView a {color:#162a6d;}
#webView {display:none}
