.pageNavColumn {display:none;}
.codeHelp {float:right; width:20em; margin:2% 1.75%;}
.pageContentColumn {width: 97%;}
.pageContentInner {float:left; margin-left: 7%; padding: 1%; width:50%;}
.loginWrapper {width:38em; margin:auto;}