.pageNavColumn {display:none;}
.pageContentColumn {width: 97%;}
.pageContentInner {margin-left: 38%; padding: 1%; width:50%;}
.loginWrapper {width:38em; margin:auto;}
#loginHelpLink {margin-left: 10px; margin-bottom: 10px;}