.bibHolds {
    margin-top:10px;
}
.bibRecordLink {
    text-align:left;
}
.bibRecordLink a {
    padding-right:0;
    
}
.clear {
    clear:both;
}
.leftBib {
    width:65%;
    float:left;
}
#rightBib {
    float:left;
    width:30%;
}
.syn_body, .syn_title {
    margin-top:10px;
}
.syn_body {
    float:left;
    width:83%;
}
.syn_body p {
    margin:0;
}
.syn_title {
    font-weight:bold;
    padding: 0 10px 0 5px;
    float:left;
    width:13.5%;
}