/* swan_styles.css updated 080903 lee */

body { background-color: #DBE4C5;}
body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, select, input, textarea
{ font-family: Verdana, Arial, Helvetica, sans-serif; }
tt, pre { font-family: "Courier New", Courier, mono, monospace;}
body, div, p, form, ol, li, th, td, select, input, textarea { font-size: 12px; color: #000000; }
h1 { font-size: 20px; color: #000000; }
h2 { font-size: 16px; color: #003399; }
h3 { font-size: 14px; color: #003399; }
.qs { font-size: 11px; color: #000000; }
.blurb { font-size: 12px; }
.navigationRow { text-align: center; }

/* SPELL CHECK STYLES/AVS */
.msg h2 { font-size: 16px; color: #FF0000; font-weight: bold; }
.spellcheckTool { font-size: 16px; color: #FF0000; font-weight: bold; }
.spellcheckToolMore{ font-size: 16px; color: #FF0000; font-weight: bold; }
h3 { font-size: 14px; color: #003399; }
h3 Avs { font-size: 14px; color: #003399; text-align: center; font-weight: bold; }

/* AUTHORITY REDIRECTION CLASSES */
.authTerm { }
.unauthTerm { }

/* BIBLIOGRAPHIC DISPLAY CLASSES */
/*.bibBookingsHeader { }
.bibDetail { }*/
.bibHoldings { border-bottom: 2px; color: #003399; }
/*.bibHoldingsData { }
.bibHoldingsEntry { }
.bibHoldingsHeader { }
.bibHoldingsLabel  { }
.bibHolds { }
.bibHoldsEntry { }
.bibInfo { }
.bibInfoData { }
.bibInfoEntry { }
.bibInfoLabel { }*/
.bibItems{ width: 100%; border: 0px; }
.bibItemsEntry { color: #000000; background: #DBE4C5; text-align: left; width: 25%; }
.bibItemsHeader { color: #000000; background: #DBE4C5; font-weight: bold; text-align: left; width: 30% 30% 20% 20%; }
.bibItemsLabel { color: #FFFFFF; background: #003399; font-weight: bold;  }
/*.bibLicense { }
.bibLicenseEntry { }
.bibLicenseHeader { }*/
.bibLinks { border: 1px solid #003399; }
.bibOrder {  }
.bibOrderEntry { }
.bibPager { text-align: center; }	
./*bibResource { }
.bibResourceBrief { }
.bibResourceCaption { }
.bibResourceEntry { }
.bibResourceEntry td { }
.bibResourceHeader { }
.bibResourceLicense { }
.bibResourceLicenseEntry { }
.bibResourceSubEntry { }
.bibResourceTable { }
.bibResourceTableEntry { }
.bibResourceTableHeader { }*/
.bibScreen { }
.bibSearchtool { text-align: center; }	
.bibThumbnails { }
.bibTOC { }
.bibXML { }

/* BOOKINGS DISPLAY CLASSES */
/* bookingsConfirmMsg { }
bookingsItemEntry { }
bookingsItemHeader { }
bookingsLegend { }
bookingsLocation { }
bookingsSelect { }
bookingsSelectCal { } */

/* BRIEF CITATION DISPLAY CLASSES */
.briefCitDetail { vertical-align: top; padding-top: 2%;  }
.briefCitItems { width: 30% 30% 20% 20%; color: #000000; font-weight: normal; margin: 5px 0px 0px 0px; 
	text-align: left; vertical-align: top; /*white-space: nowrap;*/ }
.briefCitRow { border: none; color: #000000; font-weight: normal; }
.briefCitTable { width: 100%; border: 0px; }
.briefCitMark { text-align: left; vertical-align: top; width: 3%; }
.briefCitTitle {text-align: left; vertical-align: top; width: 75%; font-size: 11px; }
/*.briefCitStatus { font-weight: bold; width: 20%; }
.briefCitCall { padding-left: .2em; font-style: italic; width: 30%; }
.briefCitEntryNum { text-align: center; vertical-align: top; width: 3%; white-space: nowrap; }*/
/*.briefCitCheckbox { padding-right: 2px; }*/
.briefCitMedia {text-align: center; vertical-align: top; width: 10% }
.briefCitYear {text-align: center; vertical-align: top; width: 10% }

/* BROWSE DISPLAY CLASSES */
TR.browseEntry {  background-color: #DBE4C5; color: #000000; }
.browseEntryData { background-color: #DBE4C5; color: #000000; font-weight: bold; }
.browseEntryEntries { text-align: right; }
.browseEntryMark { font-weight: bold; }
.browseEntryMedia { vertical-align: middle; }
.browseEntryNum { text-align: center; }
/* TD.browseEntryRelevance { } */
.browseEntryYear {text-align: center; }
TR.browseHeader { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; text-align: center; }
TD.browseHeaderData { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; vertical-align: bottom; text-align: center; }
TD.browseHeaderMark { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; }
TD.browseHeaderMedia { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; }
TD.browseHeaderNum { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; }
TD.browseHeaderRelevance { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; }
TD.browseHeaderYear { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; text-align: center; }
TD.browseHeaderEntries { background-color: #9EB69B; color: #FFFFFF; font-weight: bold; }
TABLE.browseList { width: 99%; }
.browsePager { text-align: center; }	
TABLE.browseResourceTable { border: 0px; }
TR.browseResourceTableEntry { }
TD.browseResourceTableHeader { }
.browseSaveJump { color: #000000; text-align: center; }
TABLE.browseScreen { width: 100%; border-top: 1px solid; border-top-color: #000000; }
.browseSearchtool { text-align: center; }
.browseSearchtoolMessage { }
TR.browseSubEntry { background-color: #DBE4C5; color: #000000; }
TD.browseSubEntryData { background-color: #DBE4C5; color: #000000; font-weight: bold }
TD.browseSubEntryEntries { background-color: #DBE4C5; color: #000000; }
TD.browseSubEntryRelevance { background-color: #DBE4C5; color: #000000; }
TD.browseSubEntryYear { background-color: #DBE4C5; color: #000000; }
TR.browseSuperEntry { background-color: #99C96C; color: #000000; }
/* WIDGET IS NO LONGER AN ENTRY IN III STYLES
TABLE.browseWidgit { background: #DBE4C5; }
.browseWidgit { color: #000000; background: #DBE4C5; text-align: center; } */

/*  ENTRY DISPLAY CLASSES  */
.yourEntryWouldBeHere { }
.yourEntryWouldBeHereData { }

/* FEATURED LISTS DISPLAY CLASSES */
/* ftlistHeader { } */

/* FEEDS DISPLAY CLASSES */
/* rssChannelTitle { }
rssChannelEntries { }
rssChannelEntry { }
rssChannelEntryDate { }
rssChannelEntryHead { }
rssChannelEntryDesc { }
rssChannelImage { }
rssChannelNoContent { } */

/* GLOBAL PATRON DISPLAY CLASSES */
TABLE.patDisplayTable { border: 1px solid #000000; }
TR.patDisplay { border: 1px solid #000000; }
TD.patDisplayFunc { border: 1px solid #000000; }
TD.patDisplayInfo { border: 1px solid #000000; }
/* TD.patInfo { }
TD.patImage { } */

/* HOLDINGS DISPLAY CLASSES */
.holdingscode { }
.holdingsDivider { } 
.checkinCard {
	clear:both; margin-top:1em;
}

/* LIMIT/SORT DISPLAY CLASSES */
.limitEntriesFoundText { }
.limitEntriesFoundNum { }
.limitSearchTerm { }
.limitSearchTypeIndex { }
.limitSearchTypeText { }

/* PATRON FUNCTION TABLE AND FORM CLASSES */
Table.patFuncTable { border: 1px solid #000000; }
TR.patFunc { border: 1px solid #000000; } 
/* patDisplay { } 
patDisplayFunc { }
patDisplayInfo { }
patFunc { }
patDisplayAuthor { }
patFuncBookDate { }
patFuncBtns { }
patFuncCallNo { }
patFuncCancel { }
patFuncDate { } */
TD.patFuncEntry { border: 1px solid #000000; }
/* patFuncFinesDetail { }
patFuncFinesDetailAmt { }
patFuncFinesDetailDate { }
patFuncFinesDetailDateLabel { }
patFuncFinesDetailType { } */
TD.patFuncFinesEntryDetail { border: 1px solid #000000; }
/* patFuncFinesEntryTitle { } */
TD.patFuncFinesTitle { border: 1px solid #000000; }
/* patFuncFinesTotal { }
patFuncFinesTotalAmt { }
patFuncFinesTotalLabel { }
patFuncHeaders { }
patFuncMark { }
patFuncModifyPatInfo { }
patFuncModifyPIN { }
patFuncModifyPINExample { }
patFuncNoEntries { }
patFuncPickup { }
patFuncPSrchBtn { }
patFuncPSrchType { }
patFuncRating { }
patFuncStatus { }
patFuncTitle { } 
on_ice { }
reqFilltimeMsg { }*/

/* RESOURCE DISPLAY CLASSES */
resourceBib { }
resourceBibEntry { }
resourceBibHeader { }
resourceInfoData { }
resourceInfoLabel { }
resourceLicense { }
resourceLicenseEntry { }
resourceLicenseHeader { }
resourceLinkEntry { }
resourceResource { }

/* SMS classes */

#smsfeatures {
    text-align:center;
    margin:2em;
}

#info, #sms {
       border:1px solid #36647b;
       position:absolute;
       top:250;
       left:50; 
       z-index:1000;
       background:#fff;
       padding:10px;
       margin:10px;
       background:#efefcf;
}

#sms .eg {
       font-style:italic;
       font-size:80%;
}

#info {top:500}

#sms {font-size:70%;}


/* WEBBRIDGE DISPLAY CLASSES */
/*wbbody { }
wbcategory { }
wbheading { }
wbsubheading { }
wblinkdisplay { }
wblinkfield { }
wblinktext { }
wbresourcelist { }*/
.checkinInfoLabel, .checkinInfoData, .checkinInfoHoldingsLabel, .checkinInfoHoldingsData {height:auto; margin-bottom:.5em;}
 {height:auto;}
 
 .checkinInfoCurrentReceipts {display:none;}
 
 /* MobileCat */
 
 .mobileinfo {
    display:none;
 }

