/*
Created 11/1/2011 by Josh Welker at Southwest Baptist University
*/



#google-books
{
	float:right;
	width:35%;
	margin-bottom:20px;
}

.bibPager
{
	clear:both;
}

#float-box
{
	float:left;
	margin-right:10px;
	min-height:180px;
}

.infoLink div
{
	margin:5px 0px;
}

.averageRating
{
	margin:5px 0px;

}

.averageRating a
{
	display:inline-block;
	height:20px;
	width:125px;
}

.thumb
{
	width:128px;
	
}

.message
{
	width:85%;
}

.description
{
	margin:10px 0px;
}

.previewLink
{
	margin-top:10px;
}

.averageRating a
{
	background-image:url('/screens/rating.png');
}

.thumb
{

}

.title
{
	font-size:1em;
	font-weight:bold;
}

.author
{
	font-size:1.1em;
}

.ratingsCount
{
	text-align:center;
	font-size:12px;
}

#google-books a img
{
	border:none;
}

